/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

 body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

    background-image: url('../media/background.png'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */

    height: 100vh; /* Asegura que cubra toda la altura */
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */

 /*
 *Main
 */

 .px-3{
   
    border-radius: 10px; /* Esquinas redondeadas */  
    text-align: center; /* Centra el texto */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra para un mejor efecto */
    backdrop-filter: blur(2%); /* Aplica el efecto de desenfoque */
 }
.div-logo{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
}

.logo {
    width: 100%; /* La imagen ocupará el 100% de su contenedor */
    max-width: 80%; /* Ajusta el ancho máximo según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0px 0; /* Espacio superior e inferior (ajusta según lo necesites) */
}

